{% extends 'base.html.twig' %}

{% block title %}Home index{% endblock %}

{% block body %}
    <h1>Home index</h1>
    <a href="{{ path('app_admin_home_new') }}" class="btn btn-success">Nouveau</a>
    <table class="table">
        <thead>
            <tr>
            <th>Image</th>
                <th>Id</th>
                <th>Titre</th>
                {# <th>Texte</th> #}
                <th>Active</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
            <td><img src="{{ asset('images/' ~ home.imageName) }}" alt="" class="img-list-admin"></td>
                <td>{{ home.id }}</td>
                <td>{{ home.titre }}</td>
                {# <td>{{ home.texte }}</td> #}
                <td>{{ home.isActive ? 'Oui' : 'Non' }}</td>
                <td class="text-end">
                    <a href="{{ path('app_admin_home_show', {'id': home.id}) }}" class="btn btn-primary" ><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_admin_home_edit', {'id': home.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td> {# colspan est le nombre de ligne #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
